<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/CRM/_Facebook.css">
</head>
    <body>
        <div class="Fpost">
            <div class="FpostHeader">
                <div class="FPHL">
                    <div class="FProfileI">
                        @if(ViewBag.oneBusiness.Industry == "Automotive")
                            {
                                <img src="~/images/Industries/Automotive.jpg" alt="ai">
                            }
                            @if(ViewBag.oneBusiness.Industry == "Legal")
                            {
                                <img src="~/images/Industries/Legal.jpg" alt="ai">
                            }
                            @if(ViewBag.oneBusiness.Industry == "Restaurant")
                            {
                                <img src="~/images/Industries/Restaurant.jpg" alt="ai">
                            }
                            @if(ViewBag.oneBusiness.Industry == "Sports")
                            {
                                <img src="~/images/Industries/Sports.jpg" alt="ai">
                            }
                            @if(ViewBag.oneBusiness.Industry == "Entertainment")
                            {
                                <img src="~/images/Industries/Entertainment.jpg" alt="ai">
                            }
                            @if(ViewBag.oneBusiness.Industry == "Health Care")
                            {
                                <img src="~/images/Industries/HealthCare.jpg" alt="ai">
                            }
                    </div>
                    <div>
                        <div class="Fuser">@ViewBag.OneBusiness.BusinessName</div>
                        <div class="postType">Sponsored</div>
                    </div>
                </div>
                <div style="margin-right: 0px; margin-left: auto; ">
                    <svg aria-label="Plus d'options" class="_8-yf5 " fill="#262626" height="16" role="img" viewBox="0 0 48 48" width="16">
                        <circle clip-rule="evenodd" cx="8" cy="24" fill-rule="evenodd" r="4.5"></circle>
                        <circle clip-rule="evenodd" cx="24" cy="24" fill-rule="evenodd" r="4.5"></circle>
                        <circle clip-rule="evenodd" cx="40" cy="24" fill-rule="evenodd" r="4.5"></circle>
                    </svg>
                </div>
            </div>
            <p class="detailsS">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit nobis ipsa quibusdam perspiciatis mollitia voluptate est architecto dolorem doloribus sapiente.</p>
            <div class="Fimg-container">
                @if(ViewBag.oneBusiness.Industry == "Automotive")
                    {
                        <img src="~/images/Industries/Automotive.jpg" alt="ai">
                    }
                    @if(ViewBag.oneBusiness.Industry == "Legal")
                    {
                        <img src="~/images/Industries/Legal.jpg" alt="ai">
                    }
                    @if(ViewBag.oneBusiness.Industry == "Restaurant")
                    {
                        <img src="~/images/Industries/Restaurant.jpg" alt="ai">
                    }
                    @if(ViewBag.oneBusiness.Industry == "Sports")
                    {
                        <img src="~/images/Industries/Sports.jpg" alt="ai">
                    }
                    @if(ViewBag.oneBusiness.Industry == "Entertainment")
                    {
                        <img src="~/images/Industries/Entertainment.jpg" alt="ai">
                    }
                    @if(ViewBag.oneBusiness.Industry == "Health Care")
                    {
                        <img src="~/images/Industries/HealthCare.jpg" alt="ai">
                    }
            </div>
                <hr style="margin: 2px;">
            <div class="toolbar">
                <img src="~/images/facebookicons.jpg" alt="fbIcons">
            </div>
        </div>
    </body>
</html>