@model Business

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="~/css/CRM/_POC.css">
    </head>
    <body>
        <form asp-controller="CRM" asp-action="UpdatePOC" method="POST" style="width: 250px; display: flex; margin-left: 0px;">
            <div>
                <span asp-validation-for="PocId" class="error"></span>
                <select asp-for="PocId" class="form-control" style="margin-left: 7px;">
                    @foreach (Staff s in ViewBag.oneBusiness.StaffList)
                    {
                        <option value="@s.StaffId">@s.FirstName @s.LastName</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-link" style="margin-left: 7px;">Update</button>
        </form>
    </body>
</html>