@model Note

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/CRM/_SpecialNotes.css"/>
        <link rel="stylesheet" href="~/MeetUpCenter.styles.css" asp-append-version="true" />
    </head>
    <body>
        <form asp-controller="CRM" asp-action="AddSpecialNote" asp-route-businessId="@ViewBag.OneBusiness.BusinessId" method="POST">
            <div>
                <label class="form-label">Add Note</label>
                <span asp-validation-for="SpecialNote"></span>
                <textarea asp-for="SpecialNote" class="form-control" rows="3" ></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-outline-primary">Add</button>
        </form>
    </body>
</html>