@model UpcomingTask

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="~/css/CRM/_Task.css">
    </head>
    <body>
        <form asp-controller="CRM" asp-action="AddTask" asp-route-businessId="@ViewBag.oneBusiness.BusinessId" method="POST" style="width: 450px;">
            <div class="row">
                <div class="col">
                    <span asp-validation-for="TaskType"></span>
                    <select asp-for="TaskType" class="form-control">
                        <option>Select Type</option>
                        <option value="Phone Call">Phone Call</option>
                        <option value="Email">Email</option>
                        <option value="Presentation">Presentation</option>
                    </select>
                </div>
                <div class="col" style="display: flex; align-items: center;">
                    <label asp-for="StaffId" style="margin-right: 10px;"></label>
                    <span asp-validation-for="StaffId"></span>
                    <select asp-for="StaffId" class="form-control">
                        <option>select</option>
                        @foreach (Staff s in ViewBag.oneBusiness.StaffList)
                        {
                            <option value="@s.StaffId">@s.FirstName @s.LastName</option>
                        }
                    </select>
                </div>
            </div>
            <div>
                <label asp-for="DueDate"></label>
                <span asp-validation-for="DueDate"></span>
                <input  type="date" asp-for="DueDate" class="form-control" style="width: 150px;">
            </div>
            <div style="margin-bottom: 15px;">
                <label asp-for="Details"></label>
                <span asp-validation-for="Details"></span>
                <input asp-for="Details" class="form-control">
            </div>
            <button type="submit" class="btn btn-outline-primary">Add</button>
        </form>
    </body>
</html>