@model Business

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="~/css/CRM/_UpdatebName.css"/>
    </head>
    <body>
        <form asp-controller="CRM" asp-action="UpdateBusinessName" asp-route-businessId="@ViewBag.OneBusiness.BusinessId" method="POST" class="BNForm">
            <input asp-for="BusinessName" class="form-control BNinput" value="@ViewBag.OneBusiness.BusinessName">
            <button type="submit" class="btn btn-link BNSubmit">Update</button>
        </form>
    </body>
</html>