@model Business

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="~/css/CRM/_UpdateSD.css"/>
    </head>
    <body>
        <form asp-controller="CRM" asp-action="UpdateBusinessStartDate" asp-route-businessId="@ViewBag.OneBusiness.BusinessId" method="POST">
            <div style="display: flex;">
                <span asp-validation-for="StartDate" style="color: red; font-weight: bold;"></span>
                <input type="date" asp-for="StartDate" class="form-control" value="@ViewBag.OneBusiness.StartDate.ToString("yyyy-MM-dd")" id="SDinput">
                <button type="submit" class="btn btn-link">Update</button>
            </div>
        </form>
    </body>
</html>