
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyCRM</title>
        <link rel="stylesheet" href="~/css/User/Home.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/MeetUpCenter.styles.css" asp-append-version="true" />
    </head>
    <body>
        <h1 class="title">MyCRM</h1>
        <div id="Register" style="display: none;">
            <partial name="_Register" ></partial>
        </div>
        <div id="Login">
            <partial name="_Login" ></partial>
        </div>
            
        
        
        
        <div id="switch">
            <button class="btn btn-link" onclick="toggle()" id="click">Don't have an account? Sign Up!</button>
        </div>
        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
    <script>
        function toggle() {
        var register = document.getElementById('Register');
        var login = document.getElementById('Login');
        if (register.style.display == 'block') {
            register.style.display = 'none';
            login.style.display = 'block';
            document.getElementById("click").innerHTML = "Don't have an account? Sign Up!";
        }
        else {
            register.style.display = 'block';
            login.style.display = 'none'
            document.getElementById("click").innerHTML = "Already have an account? Sign in!";
        }
    }
    </script>
</html>

