* {
    margin: 0px auto;
    padding: 0px;
}

.userLoginTitle {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.loginTitle {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.loginForm {
    width: 500px;
    box-shadow: 0px 0px 3px black;
    padding: 30px;
    border-radius: 1%;
    margin-top: 100px;
}

.error {
    color: red; 
    font-weight: bold;
}

.RegisterL {
    text-align: center; 
    margin-top: 25px;
}