* {
    margin: 0px auto;
    padding: 0px;
}

.contain {
    background-color: rgb(251, 249, 255);
    padding-top: 100px;
    height: 100vh;
    width: 80%;
}

.header {
    background-color: rgb(125, 132, 178);
    padding-top: 25px;
    padding-bottom: 25px;
}

.userRegisterTitle {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.registerTitle {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.registerForm {
    width: 800px;
    box-shadow: 0px 0px 3px black;
    padding: 30px;
    margin-top: 100px;
    border-radius: 1%;
    background-color: white;
}

#inputEmail {
    width: 400px;
}

#inputPassword {
    width: 250px;
}

#inputPW {
    width: 250px;
}

.error {
    color: red; 
    font-weight: bold;
}

.submit {
    margin-top: 25px;
}

.LoginL {
    text-align: center; 
    margin-top: 25px;
}