*{
    margin: 0px auto;
    padding: 0px;
}

.activityContainer{
    height: 750px;
    overflow-y: scroll;
    padding: 10px;
}

.activityContainer::-webkit-scrollbar { 
    display: none;
}

.activity {
    box-shadow: 0px 0px 3px black;
    min-width: 250px;
    border-radius: 7px;
    padding: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.activityHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.activity p{
    margin: 0px;
    padding: 0px;
}

.activityr {
    margin-left: 0px;
}

.img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img {
    height: 60px;
    width: 60px;
}