* {
    margin: 0px auto;
    padding: 0px;
}

.contain {
    background-color: rgb(251, 249, 255);
    padding-top: 100px;
    height: 100vh;
    width: 80%;
}

.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: rgb(125, 132, 178);
    padding-top: 25px;
    padding-bottom: 25px;
}

.dashboardTitle{
    font-weight: bold;
    color: white;
}

.table {
    width: 95%;
}

.thead {
    text-align: center;
    font-size: 25px;
}

.tbody {
    text-align: center;
    padding: 0px;
}

.BName {
    font-size: 20px;
    padding-bottom: 0px; 
    font-weight: bold; 
    margin: 0px;
}

.poc {
    font-size: 20px;
    padding-bottom: 0px; 
    font-weight: bold; 
    margin: 0px;
}

.tActivity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tActivity p{
    margin: 0px;
    padding: 0px;
}

.img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 10px;
}

#img {
    height: 100%;
    width: 100%;
}

.actions {
    text-align: center;
}

.lastA {
    font-weight: bold; 
}