* {
    margin: 0px auto;
    padding: 10px;
}

.container {
    width: 60%;
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
    padding-bottom: 30px;
}

.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.newBusinessTitle {
    font-weight: bold;
}

#industry {
    width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.error {
    color: red; 
    font-weight: bold;
}

.STitle {
    text-align: center;
}