* {
    margin: 0px auto;
    padding: 0px;
}

.contain {
    background-color: rgb(251, 249, 255);
    min-height: 100vh;
    width: 80%;
}

.Section {
    flex: 1;
}

.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: rgb(125, 132, 178);
    padding-top: 25px;
    padding-bottom: 25px;
}

.header h1 {
    color: white;
}

.fSection {
    display: flex; 
    padding-top: 100px; 
    padding-bottom: 100px;
    width: 80%;
}

.iSection {
    display: flex; 
    padding-top: 100px; 
    padding-bottom: 100px; 
    width: 80%;
}

.ganSection {
    display: flex; 
    padding-top: 100px; 
    padding-bottom: 100px;  
    width: 80%;
}

.ySection {
    display: flex; 
    padding-top: 100px; 
    padding-bottom: 100px;  
    width: 80%;
}

.Video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.geoTarget {
    text-align: center; 
    margin-top: 100px; 
    width: 80%;
}

.geoImage {
    display: flex; 
    margin-bottom: 50px; 
}

.geoImage {
    max-width: 70%;
    max-height: 70%;
}

.purchaseH {
    text-align: center;
}

.products {
    display: flex; 
    align-items: center; 
    width: 80%; 
    margin-top: 50px; 
}

.Product {
    padding: 15px;
}

.purchaseF {
    display: flex; 
    margin-top: 150px; 
    width: 80%; 
    padding-bottom: 250px; 
}