* {
    margin: 0px auto;
    padding: 5px;
}

.ViewOneBody{
    min-height: 100vh;
}

.ViewOneHeader{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

#editor{
    display: none;
}

#BN{
    display: flex;
}

.bname {
    font-weight: bold;
    font-size: 70px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

#test{
    display: none;
}

#BNUpdate{
    display: none;
}

.HRight{
    display: flex; 
    align-items: center; 
    margin-right: 15px;
}

.ViewOneContainer{
    display: flex; 
    margin-left: 15px;
}

.ContainerLeft{
    width: 80%;
}

#ViewOneStreet{
    margin: 0px;
}

#SNotes{
    width: 450px; 
    margin-left: 0px
}

.ContainerLeft h2{
    display: flex;
}

.ContainerRight{
    width: 20%;
}

#SD{
    display: flex;
    margin-left: 7px;
}

#USD{
    display: none;
    margin-left: 7px;
}

#editSD{
    display: none;
}

#I{
    display: flex;
    margin-left: 7px;
    justify-content: flex-start;
}

#UI {
    display: none;
    margin-left: 7px;
}

#editI{
    display: none;
    margin: 0px;
}

#editN{
    display: none;
    margin-left: 7px;
}

#SNotes{
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 20px;
}

.notes{
    width: 100px;
    margin-left: 0px;
}

.address{
    width: 150px;
    margin-left: 0px;
    display: flex;
    align-items: center;
}

#addA{
    display: none;
    margin-left: 7px;
}

#newAddress{
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 20px;
}

.locationDetails{
    display: flex; 
    width: 250px; 
    margin-left: 0px;
}

#aOptions{
    display: none;
}

#addS{
    display: none;
}

#newStaff{
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 550px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 20px;
}

.purchases{
    position: fixed;
    top: 15%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    padding: 20px;
}