* {
    margin: 0px auto;
    padding: 0px;
}

.ViewOneBody {
    min-height: 100vh;
    width: 80%;
    box-shadow: 0px 0px 7px black;
    min-height: 100vh;
}

.ViewOneHeader {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

#editor {
    display: none;
}

#BN {
    display: flex;
}

.bname {
    font-weight: bold;
    font-size: 75px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

#test {
    display: none;
}

#BNUpdate {
    display: none;
}

.HRight {
    display: flex; 
    align-items: center; 
    margin-right: 25px;
}

.ViewOneContainer {
    display: flex; 
    margin-left: 15px;
}

.ContainerLeft {
    width: 80%;
}

.StaffS {
    display: flex; 
    align-items: center; 
}

.card {
    margin-left: 0px;
}

.cardInfo {
    display: flex; 
    align-items: center;
    margin-left:0px;
}

.staffDetails {
    box-shadow: 0px 0px 3px black;
    border-radius: 3px; 
    padding: 5px; 
    margin-left: 0px; 
    margin-right:5px
}

.staffDetails p {
    margin: 0px;
}

.industryT {
    display: flex; 
    align-items: center; 
    margin:0px;
}

.lnbody {
    display: flex; 
    margin-top: 50px; 
}

#ViewOneStreet {
    margin: 0px;
}

#SNotes {
    width: 450px; 
    margin-left: 0px
}

.ContainerLeft h2 {
    display: flex;
}

.ContainerRight {
    width: 25%;
    border-left: 1px solid black;
}

#SD {
    display: flex;
    margin-left: 7px;
}

#USD {
    display: none;
    margin-left: 7px;
}

#editSD {
    display: none;
}

#I {
    display: flex;
    margin-left: 7px;
    justify-content: flex-start;
    align-items: center;
}

#UI {
    display: none;
    margin-left: 7px;
}

#editI {
    display: none;
    margin: 0px;
}

#editN {
    display: none;
    margin-left: 7px;
}

#SNotes {
    display: none;
    background-color: white;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
    padding: 20px;
}

.notes {
    width: 100px;
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.address {
    width: 150px;
    margin-left: 0px;
    display: flex;
    align-items: center;
}

#addA {
    display: none;
    margin-left: 7px;
}

#newAddress {
    display: none;
    background-color: white;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
    padding: 20px;
}

.locationDetails {
    display: flex; 
    min-width: 250px; 
    margin: 10px;
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
    padding: 7px;
}

.aOptions {
    display: none;
}

#addS {
    display: none;
}

#newStaff {
    display: none;
    background-color: white;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 550px;
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
    padding: 20px;
}

.purchases {
    position: fixed;
    top: 220px;
    left: 60%;
    margin-top: 75px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    padding: 20px;
}

.noteDetails {
    margin-left: 25px;
}

.note {
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
    padding: 7px;
    margin: 10px;
    display: flex;
    align-items: center;
    width: 350px;
}

.close {
    text-align: right;
}

.BW {
    display: flex;
}

#W {
    display: flex;
    align-items: center;
    margin-left: 7px;
}

#WUpdate {
    display: none;
    margin-left: 7px;
}

#editW {
    display: none;
}

.purchaseDetails {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    margin: 5px;
}

#UPOC{
    display: none;
    margin-left: 7px;
}

.task {
    position: fixed;
    width: 300px;
    box-shadow: 0px 0px 3px black;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 240px;
    left: 42%;
}

.taskDetails {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    margin: 5px;
}

.taskBody {
    max-height: 200px; 
    overflow-y: scroll;
}

.taskBody::-webkit-scrollbar { 
    display: none;
}